# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Build artifacts
.aws-sam/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# LocalStack data
.localstack/